---
language: rust

cache: cargo

# We also make sure that everything works on beta and nightly.
rust:
  - stable
  - beta
  - nightly
matrix:
  allow_failures:
    - rust: nightly

branches:
  only:
    - master

script: cargo test --verbose
